<section class="services-grid">
    {{#each servicios}}
        <div class="service-card">
            <img src="{{url}}" alt="{{descripcionimg}}">
            <h2>{{title}}</h2>
        </div>
    {{/each}}
</section>